.authorbox {
  border: none;
  padding: 12px 8px;
}

.author .author-info,
.hentry,
.post-type-archive .page-header,
#comments,
#comments-policy,
#disqus_thread,
#fbSEOComments,
#livefyre-comments {
  border: none;
}

.category .page-header,
.hentry,
.post-type-archive .page-header {
  margin-bottom: 6rem;
  padding: 30px;

  @media (min-width: 800px) {
    padding-left: 0;
  }
}

#top_search #s {
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid $color-base-300;
}

.sidebar .widget {
  color: $color-base;
  box-shadow: 0 2px 4px $color-base-200;
  border-radius: 2px;

  h3 {
    background-color: $color-primary;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

div.sidebar .widget_getnoticed_subscribe {
  padding: 0;
  background: none;
}

.widget {
  margin-bottom: 40px;
}
