///
// Specific modules
///
@import "type";
@import "masthead";
@import "blocks";
@import "buttons";


///
// Misc overrides of original theme go here
///

// Extra text in masthead
.header-text {
  display: none;
}

// Hyperlinks
a,
a:visited {
  color: $color-accent;
}
