html {
  font-size: 10px;
}

.authorbox {
  @include type-spec(body);

  h3.authorbox-name {
    @include type-spec(h5);
  }
}

.site-header .site-title,
.page h1,
.post h1,
.page-header h1 {
  @media (max-width: 689px) {
    @include type-spec(h4);
  }

  @media (min-width: 690px) {
    @include type-spec(h2);
  }
}

.entry-header .entry-meta,
.page-header .page-meta {
  @include type-spec(subtext);
}

#headernav {
  @include type-spec(h6);
}

.hentry .entry-header h3.getnoticed-entry-subtitle {
  @include type-spec(h5);

  margin-top: 6px;
}

#main,
.entry-header .byline {
  @include type-spec(body);
}

.dropcap {
  font-size: 5rem;
  font-family: $font-display;
  font-weight: $weight-display-semi;
  line-height: $leading-4x;
}

.entry-footer {
  @include type-spec(subtext);
}

.sidebar .widget {
  @include type-spec(body);
}

.sidebar .widget h3 {
  @include type-spec(h5);
}
